body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.calcu {
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    height: 40%;
}

input {
    width: 96%;
    font-size: 24px;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: rgb(170, 26, 170);
    font-size: 24px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.redfont:hover {
    background-color: #ccc;
}

.redfont {
    background-color: rgb(252, 37, 119);

}


 